version: "3.9"

services:
  postgresql:
    image: postgres:latest
    container_name: postgresql
    restart: unless-stopped
    # network_mode: veth-hems
    # network_mode: host
    ports:
      - "5432:5432"
    command: [ "postgres", "-c", "wal_level=logical" ]
    environment:
      - POSTGRES_PASSWORD=$POSTGRES_PASSWORD
      - POSTGRES_DB=$POSTGRES_DB
      - POSTGRES_USER=$POSTGRES_USER
    volumes:
      - ./postgresql_start.sh:/docker-entrypoint-initdb.d/init-user-db.sh
  
  zookeeper:
    image: debezium/zookeeper:1.6
    container_name: zookeeper
    # network_mode: veth-hems
    # network_mode: host
    ports:
      - "2888:2888"
      - "2181:2181"
      - "3888:3888"
    restart: unless-stopped

  kafka:
    image: debezium/kafka:1.6
    container_name: kafka
    # network_mode: veth-hems
    depends_on:
      - zookeeper
    # network_mode: host
    ports:
      - "9092:9092"
    restart: unless-stopped
    environment:
      - ZOOKEEPER_CONNECT=$ZOOKEEPER_CONNECT
  
  connect:
    image: debezium/connect:1.6
    container_name: connect
    # network_mode: veth-hems
    depends_on:
      - kafka
    # network_mode: host
    ports:
      - "8083:8083"
    restart: unless-stopped
    environment:
      - GROUP_ID=$GROUP_ID
      - CONFIG_STORAGE_TOPIC=$CONFIG_STORAGE_TOPIC
      - OFFSET_STORAGE_TOPIC=$OFFSET_STORAGE_TOPIC
      - STATUS_STORAGE_TOPIC=$STATUS_STORAGE_TOPIC
      - BOOTSTRAP_SERVERS=$BOOTSTRAP_SERVERS
